In [1]:
#read CSV File for schools and setting data as a data frame
import pandas as pd
df = pd.read_csv("/Users/farrukh/Documents/Data Analytics/Farrukh-project/Panda/Panda-challenge/Resources/schools_complete.csv")
df

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [2]:
#read CSV File for students and setting data as a data frame
df = pd.read_csv("/Users/farrukh/Documents/Data Analytics/Farrukh-project/Panda/Panda-challenge/Resources/students_complete.csv")
df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [5]:
schools_df = pd.read_csv("/Users/farrukh/Documents/Data Analytics/Farrukh-project/Panda/Panda-challenge/Resources/schools_complete.csv")
students_df = pd.read_csv("/Users/farrukh/Documents/Data Analytics/Farrukh-project/Panda/Panda-challenge/Resources/students_complete.csv")
schools_df.rename(columns = {"name": "schools"}, inplace = True)
merged_df = students_df.merge(schools_df, how = "left", on = "schools")

KeyError: 'schools'

In [ ]:
#Total number of unique schools

In [ ]:
#Total students

In [ ]:
#Total budget

In [ ]:
#Average math score

In [ ]:
#Average reading score

In [ ]:
# % passing math (the percentage of students who passed math)

In [ ]:
# % passing reading (the percentage of students who passed reading)

In [ ]:
# % overall passing (the percentage of students who passed math AND reading)